<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sefer_Seyahat.Properties.Settings.TestYolcuBiletConnectionString"
            connectionString="Data Source=LAPTOP-1PLLIFRV\SQLEXPRESS;Initial Catalog=TestYolcuBilet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>